* {
    font-family: 'Poppins', sans-serif;

} 
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

/* .photo-panel{
    background-color: white;
    width: 370px;
    height: 410px;*/
    /* margin: 7em auto; */
    /*border-radius: 1.5em;
    box-shadow: 1.5px 11px 35px 2px #5b43c552;

    display: flex;
    align-items: center;
} */

.photo-panel figure {
    width: 85%;
    height: auto;
    max-height: 85%;

}

.photo-panel figure a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto{
    /* margin-top: 20px; */

    /*----*/
    margin-top: 0%;
    width: 100%;
    height: auto;
    max-height: 100%;
}

.foto:hover{
    background-image: none;
    cursor: pointer;
    transform: scale(1.1);
}

.recent {
    display: flex; 
    justify-content:center; 
    align-items:center;
    color: #5b43c5;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* .fotosRecentes {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content:center; 
    align-items:center;
    margin-top: 0px;
    padding-top:0px ;

}

.fotosRecentes li {
    list-style: none;
    flex: 0 0 33.333333%;
    justify-content:center; 
    align-items:center;
    display: flex; 
} */



.ordenacao{
    display: flex;
    /* justify-content:end; */
    flex-direction: column;
    /* width: 11rem; */
    /*right: 10%;
    margin: 0% 0% 0% 0%; */
    /* margin-left: 75%; */
    /* float: right; */
    justify-self: flex-end;


}

label{
    align-self: flex-end;
    margin-right: 2.3%;
}

select{

    font-size: 1rem;
    /* margin-top: 0.5%; */
    /* display: inline-block; */
    align-self: flex-end;
    width: 10rem;
    background-color: transparent; 
    position: relative;
    cursor: pointer;

}



option{
    color:rgb(23, 58, 110);
}

select:hover{
    color: rgb(31, 72, 207);
    border-color: white;
}



