<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

<app-nav> </app-nav>


<div class="linha">

    <div class="coluna">

        <ul>
            <li>
                <img src="assets/single.png" alt="">
                <a routerLink="/singleUpload">Upload de uma única foto</a>
            </li>
        </ul>
        

    </div>

    <div class=coluna>

        <ul>
            <li>
                <img src="assets/multiple.png" alt="">
                <a routerLink="/multipleUpload">Upload várias fotos</a>
            </li>
        </ul>
        


    </div>


</div>



